<form method="get" action="/quizes/answer">
	<p>Pregunta: <b><%= pregunta %></p></b><br /><br />
	<input type="text" name="respuesta" value="Responda aqui"/>
	<input type="submit" value="Enviar"/>
</form>
