<form method="get" action="/quizes/<%= quiz.id%>/answer">
	<p>Pregunta: <b><%= quiz.pregunta %></p></b><br /><br />
	<input type="text" name="respuesta" value="Responda aqui"/>
	<input type="submit" value="Enviar"/>
</form>
